node_modules
**/node_modules
dist

Dockerfile
docker-compose.yml
*.log

# Git & OS stuff
.git
.DS_Store

# Yarn: allow necessary workspace files
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
