node_modules
.DS_Store
app/client/dist/*.js
app/client/dist/      
app/server/config/config.env
.pnp.cjs
.pnp.loader.mjs

# Yarn
.yarn
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

