apiVersion: v1
kind: Secret
metadata:
  name: mongo-credentials
  namespace: todo-app
  labels:
    app: todo-app
    component: database
type: Opaque
stringData:
  username: "k8s-todo-app"
  password: "Bf4XVdDPv006CSvi"
  mongodb-uri: "mongodb+srv://your-mongodb-username:your-mongodb-password@cluster.mongodb.net/todos?retryWrites=true&w=majority"