service: todo-app-serverless

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  stage: ${opt:stage, 'dev'}
  environment:
    MONGODB_URI: ${env:MONGODB_URI}
    JWT_SECRET: ${env:JWT_SECRET}
  
  # IAM permissions for Lambda functions
  iamRoleStatements:
    - Effect: Allow
      Action:
        - logs:CreateLogGroup
        - logs:CreateLogStream
        - logs:PutLogEvents
      Resource: "arn:aws:logs:*:*:*"

functions:
  auth:
    handler: auth.handler
    events:
      - http:
          path: auth/{proxy+}
          method: ANY
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
            allowCredentials: false

  todos:
    handler: todos.handler
    events:
      - http:
          path: todo
          method: GET
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
            allowCredentials: false
      - http:
          path: todo
          method: POST
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
            allowCredentials: false
      - http:
          path: todo/{id}
          method: DELETE
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
            allowCredentials: false
      - http:
          path: todo/{id}/completed
          method: POST
          cors:
            origin: '*'
            headers:
              - Content-Type
              - Authorization
            allowCredentials: false

plugins:
  - serverless-offline

custom:
  serverless-offline:
    httpPort: 3001